{% extends 'layout.twig' %}

{% set hide_aside = true %}
{% set hide_header_menu = true %}

{% block content %}
    {% if message %}
        <div id="errormessage">
            {{ message }}
        </div>
    {% endif %}

    <div id="loginform">
        <form action="{{ baseUrl() }}/login" method="POST">
            <fieldset>
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Password" required />
                <input type="submit" value="Login" />
            </fieldset>
        </form>
    </div>
{% endblock %}
