<!DOCTYPE html>
<html>
    <head>
        <title>ZerobRSS</title>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/style.css" />
    </head>
    <body>
        <header>
            0bRSS
        </header>
        <aside>
            aside
        </aside>
        <div>
            {{ block('content') }}
        </div>
    </body>
</html>
