<!DOCTYPE html>
<html>
    <head>
        <title>0bRSS</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="{{ baseUrl() }}/assets/css/style.css" />
    </head>
    <body>
        <header>
            0bRSS
        </header>

        {% if not hide_aside %}
            <aside>
                {{ block('aside') }}
            </aside>
        {% endif %}

        <div id="content"{{ hide_aside ? ' class="fullwidth"' }}>
            {{ block('content') }}
        </div>
    </body>
</html>
