{% extends 'layout.twig' %}

{% set hide_aside = true %}

{% block content %}
    <div id="loginform">
        <form action="{{ baseUrl() }}/login" method="POST">
            <fieldset>
                <input type="email" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Password" required />
                <input type="submit" value="Login" />
            </fieldset>
        </form>
    </div>
{% endblock %}
