@import "reset";
@import "box-sizing";
@import "mixins";

$asideBackground: #FFFFFF;
$asideForeground: #000000;
$asideHoverBackground: #EAEAEA;

$bodyBackground: #F2F2F2;
$bodyForeground: #000000;

$headerBackground: #2196f3;
$headerForeground: #FFFFFF;

$boxShadowColor: #CCCCCC;
$boxShadowColor: rgba(0, 0, 0, 0.25);
$inputBorderColor: #CCCCCC;

$errorBackground: #FA6A6A;
$errorForeground: #000000;

$unreadBackground: #B0B0B0;
$unreadForeground: #FFFFFF;

$cardBorderColor: #E6E6E6;
$cardReadHeaderBackground: #E0E0E0;
$cardActiveHeaderBackground: #8CC7F5;
$cartUnreadHeaderBackground: #8FF58C;

$rssIconColor: #FD9F13;


/**
 * Document wide styles
 */
html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: $bodyBackground;
    color: $bodyForeground;
}

html, body {
    height: 100%;
}



/**
 * Header styling
 */
#pageheader {
    background: $headerBackground;
    color: $headerForeground;

    padding: 1.2rem;
    // padding-left: 3rem;

    position: relative;
    box-shadow: 0 0.16rem 0.2rem $boxShadowColor;

    @include font-size(1.2);
    font-weight: bold;

    button#show-aside-button {
        display: none;

        background: $headerBackground;
        color: $headerForeground;

        font-weight: normal;
        @include font-size(1.5, 1);

        padding: 0 1rem;
        border: 0;
    }

    /**
     * Header menu button styles
     */
    button#header-menu-button {
        float: right;

        background: $headerBackground;
        color: $headerForeground;

        font-weight: normal;
        @include font-size(1.5, 1);

        padding: 0 1rem;
        border: 0;
    }

    /**
     * And menu styles itself
     */
    nav#header-menu {
        position: absolute;

        right: 1rem;
        top: 2.75rem;

        padding: 0.5rem 0;

        background: $asideBackground;
        color: $asideForeground;

        box-shadow: 0.1rem 0 0.2rem $boxShadowColor;

        min-width: 10rem;

        display: none;

        @include font-size(1, 1);

        font-weight: normal;

        z-index: 1;

        a {
            display: block;

            text-decoration: none;
            color: $asideForeground;

            padding: 1rem 1.5rem;

            &:hover {
                background: $asideHoverBackground;
            }
        }
    }
}


/**
 * Aside/Content shared styles
 */
aside#aside-menu, div#content {
    // Calculate height of sidebar
    // #{HeaderFontSize * HeaderLineHeight + HeaderPadding}rem
    height: calc(100% - #{1.2 * 1.5 + 2.4}rem);
    padding: 1rem;
    float: left;

    overflow-x: hidden;
    overflow-y: auto;

    transition: all 0.5s ease;
}



/**
 * Aside Styling
 */
aside#aside-menu {
    background: $asideBackground;
    color: $asideForeground;

    box-shadow: 0.1rem 0 0.2rem $boxShadowColor;

    width: 17rem;

    nav a {
        display: block;
        padding: 0.75rem;

        text-decoration: none;
        color: $asideForeground;

        cursor: pointer;

        @include font-size(1, 1.85);

        span.unread {
            display: block;
            float: right;

            border-radius: 0.3rem;
            text-align: center;
            font-weight: bold;
            min-width: 2rem;

            padding: 0 0.5rem;
            margin-top: 0.25rem;

            background: $unreadBackground;
            color: $unreadForeground;

            @include font-size(0.75);
        }

        .fa-rss-square {
            margin-right: 0.25rem;

            color: $rssIconColor;

            font-size: 1.25rem;
        }

        &:hover {
            background: $asideHoverBackground;
        }
    }
}



/**
 * Content styling
 */
div#content {
    width: calc(100% - 17rem);

    &.fullwidth {
        width: 100%;
    }

    article {
        background: $asideBackground;
        color: $asideForeground;

        box-shadow: 0.1rem 0 0.2rem $boxShadowColor;

        margin-bottom: 1rem;

        > header, > p, > footer {
            padding: 1rem;
        }

        > header {
            background: $cartUnreadHeaderBackground;

            @include font-size(1.05, 1);

            .extras {
                float: right;

                a {
                    text-decoration: none;
                    color: $asideForeground;
                }
            }
        }

        > div.article-body {
            border-top: 0.1rem solid $cardBorderColor;
            border-bottom: 0.1rem solid $cardBorderColor;

            padding: 1rem;

            @include font-size(1);

            p {
                padding: 1rem 0;
            }
        }

        // Set max width of images in articles
        img {
            max-width: 100%;
        }

        &.read > header {
            background: $cardReadHeaderBackground;
        }

        &.active > header {
            background: $cardActiveHeaderBackground;
        }
    }
}



/**
 * Loginform styling
 */
#loginform {
    background: $asideBackground;
    color: $asideForeground;

    width: 20rem;

    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0 0.16rem 0.2rem $boxShadowColor;

    fieldset {
        padding: 2rem 1rem;
    }

    input {
        width: 100%;

        padding: 0.5rem;
        margin-top: 1rem;

        border: 0.1rem solid $inputBorderColor;
        box-shadow: 0 0rem 0.1rem $boxShadowColor;

        &[type='submit'] {
            cursor: pointer;

            box-shadow: 0 0rem 0.4rem $boxShadowColor;

            background: $headerBackground;
            color: $headerForeground;

            width: 4rem;

            float: right;

            border: 0;
            border-radius: 0.2rem;
        }

        &:first-child {
            margin: 0;
        }
    }
}

#errormessage {
    width: 20rem;

    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0 0.16rem 0.2rem $boxShadowColor;

    padding: 2rem 1rem;

    background: $errorBackground;
    color: $errorForeground;

    @include font-size(1);
}

@media (max-width: 40rem) {
    #pageheader button#show-aside-button {
        display: inline;
    }

    aside#aside-menu {
        margin-left: -18rem;
    }

    div#content {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }
}
