@import "reset";
@import "box-sizing";
@import "mixins";

$asideBackground: #FFFFFF;
$asideForeground: #000000;

$bodyBackground: #F2F2F2;
$bodyForeground: #000000;

$headerBackground: #2196f3;
$headerForeground: #FFFFFF;

$boxShadowColor: #CCCCCC;
$boxShadowColor: rgba(0, 0, 0, 0.25);
$inputBorderColor: #CCCCCC;

$errorBackground: #FA6A6A;
$errorForeground: #000000;



/**
 * Document wide styles
 */
html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: $bodyBackground;
    color: $bodyForeground;
}

html, body {
    height: 100%;
}



/**
 * Header styling
 */
header {
    background: $headerBackground;

    color: $headerForeground;
    padding: 1rem;
    padding-left: 3rem;

    position: relative;
    box-shadow: 0 0.16rem 0.2rem $boxShadowColor;

    @include font-size(1.2);
    font-weight: bold;
}



/**
 * Aside/Content shared styles
 */
aside, div#content {
    // Calculate height of sidebar
    // #{HeaderFontSize * HeaderLineHeight + HeaderPadding}rem
    height: calc(100% - #{1.2 * 1.5 + 2}rem);
    padding: 1rem;
    float: left;
}



/**
 * Aside Styling
 */
aside {
    background: $asideBackground;
    color: $asideForeground;

    box-shadow: 0.1rem 0 0.2rem $boxShadowColor;

    width: 20rem;
}



/**
 * Content styling
 */
div#content {
    width: calc(100% - 20rem);

    &.fullwidth {
        width: 100%;
    }
}



/**
 * Loginform styling
 */
#loginform {
    background: $asideBackground;
    color: $asideForeground;

    width: 20rem;

    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0 0.16rem 0.2rem $boxShadowColor;

    fieldset {
        padding: 2rem 1rem;
    }

    input {
        width: 100%;

        padding: 0.5rem;
        margin-top: 1rem;

        border: 0.1rem solid $inputBorderColor;
        box-shadow: 0 0rem 0.1rem $boxShadowColor;

        &[type='submit'] {
            cursor: pointer;

            box-shadow: 0 0rem 0.4rem $boxShadowColor;

            background: $headerBackground;
            color: $headerForeground;

            width: 4rem;

            float: right;

            border: 0;
            border-radius: 0.2rem;
        }

        &:first-child {
            margin: 0;
        }
    }
}

#errormessage {
    width: 20rem;

    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0 0.16rem 0.2rem $boxShadowColor;

    padding: 2rem 1rem;

    background: $errorBackground;
    color: $errorForeground;

    @include font-size(1);
}
